*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Outfit', sans-serif !important;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #f0f3f5;

    .attribution{
        position: absolute;
        bottom: 0;
        transition: all 400ms;
        a{
            color: #02071d;
            font-weight: 700;
            transition: all 400ms;
            &:hover{
                color: cyan;
            }
        }
    }
}

.content{
    background: #D5E1EF;
    width:1440px;
    padding: 6rem 0;
    box-shadow: 0 15px 60px rgba(0,0,0,0.2);
    .image{
        display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background:#fff;
            width: 300px;
            padding: 12px;
            border-radius: 20px;
            box-shadow: 0 15px 60px rgba(0, 0, 0, 0.177);
            margin: 0 auto;
            text-align: center;
        img{
            width: 100%;
            border-radius: 10px;
            margin-bottom: 1.5rem;
        }
        
        .title{
            padding: 0 1rem;
            font-weight: 700;
            margin-bottom: 1rem;
            color: #02071dcc;
            font-size: 1.3rem;
        }
        .paragraph{
            padding: 0 .5rem;
            margin: 0 10px;
            font: 400 15px outfit;
            color: #7c7d7ed9;
            margin-bottom: 1.5rem;
        }
    }
}